* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: lightgrey;
  display: grid;
  place-items: center;
}

.card {
  width: 30rem;
  height: 260px;
  background-color: grey;
  border-radius: 15px;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-evenly;
}
.rangeDiv .range {
  width: 100%;
}
.rangeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(245, 245, 245,0.5); */
  /* padding: 18px 10px; */
  overflow: hidden;
}
.rangeDiv span {
  /* background-color: red; */
  margin-left: 10px;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px 2px 2px 5px;
}
