* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: lightgrey;
  display: grid;
  place-items: center;
}

.card {
  width: 30rem;
  height: 260px;
  background-color: rgba(155, 154, 154,0.6);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-evenly;
  padding: 1.5rem;
  box-shadow: 0 0 60px #be0202  
}
.rangeDiv .range {
  width: 100%;
}
.rangeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(245, 245, 245,0.5); */
  /* padding: 18px 10px; */
  overflow: hidden;
}
.rangeDiv span {
  /* background-color: red; */
  margin-left: 10px;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px 2px 2px 5px;
  margin: 0  20px;
  border-radius: 10px;
}

.promptDiv{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content:center ;
 height: 4rem;
 background-color: rgba(155, 154, 154,0.8);
 border-radius: 10px;
  margin: 0 auto;
}
.plusBtn{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0 3px;
  cursor: pointer;
}
.input{
  padding: 5px;
  border-radius: 10px;
  border:2px solid rgb(145, 148, 149) ;
  outline: none;
}